#results {
    font-family:   sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #results td, #results th {
    border: 1px solid #ddd; 
    padding: 8px;

  }
  .head { 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border: none !important;
      font-weight: bolder !important;
      font-family:   sans-serif !important;
  }
  #results tr:nth-child(even){background-color: #f2f2f2;}
  
  #results tr:hover {background-color: #ddd;}
  
  #results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6f7970;
    color: white;
    font-weight: bolder !important;
    font-family: italic;
  }

  a{
    float: right;
}

h1{
  text-align: center;
}